.container{
    
    text-align: center;
    background-color: darkblue;
}
h1{
    font-size: 40px;
     color: rgb(196, 223, 121);
}
input{
    font-size: 31px;
    height: 60px;
    border: 3px solid black;
    border-radius: 12px;
}
table{
    
    margin: auto;
}
button{
    font-size: 28px;
    background-color: #fbe9e7;
    width: 93px;
    height: 76px;
    border-radius: 13px;
    
}
.calculator{
    display: inline-block;
    border:5px rgb(123, 12, 227);
    background: #ffebee;
    padding: 33px;
    border-radius: 20px;
}